@charset "UTF-8";

.navigation {
	width: 100%;
	
/* 	navigation의 자식 a를 선택 */
	& a {
		display: inline-block;
		background-color: black;
		color: white;
/* 		링크 버튼의 밑줄 삭제 */
		text-decoration: none;
		
/* 		의사 클래스(마우스 올렸을 때) 색 설정 */
		&:hover {
			background-color: lightgray;
		}
		
/* 		이미지 아이콘 넣고 아이콘 클릭해도 링크 이동 가능하게 */
		&::before {
			content: url("/static/icon/16/arrow.svg")
		}
	}
}

.container {
	display: flex;
/* 	페이지 공간이 부족하면 다음 줄로 */
	flex-wrap: wrap;
	gap: 50px;
}

.card {
	padding: 20px;
	width: 300px;
	border: 1px solid black;
	border-radius: 15px;
	flex: 1 0 auto;
}

.title {
	font-family: "Gaegu", sans-serif;
}











