.selected {
	background-color: green;
	width: 100%;
	height: 100%
}

.panel {
	margin-top: 100px;
	width: 800px;
}

.container {
	margin: 0 auto;
}

.item-box {
	margin-left: 100px;
	text-align: center;
	width: 400px;
}

/* 메뉴소개 ::: 메뉴 목록 */
.menu_list_wrapper {
	background-color: #f2f2f2;
}

.menu_list_wrapper .pd_list_wrapper {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 130px;
}

.menu_list_wrapper .pd_list_wrapper ul {
	overflow: hidden;
	margin: -30px 0 0 -30px;
}

.menu_list_wrapper .pd_list_wrapper li {
	width: 370px;
	height: 330px;
	background-color: #fff;
	float: left;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin: 30px 0 0 30px;
}

/* .menu_list_wrapper .pd_list_wrapper li:after { */
/*     content: ''; */
/*     background-color: #009223; */
/*     position: absolute; */
/*     left: 0; */
/*     width: 100%; */
/*     top: 0; */
/*     height: 100%; */
/*     z-index: 9; */
/*     opacity: 0; */
/*     z-index: 3 */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li .label { */
/*     position: absolute; */
/*     left: 0; */
/*     top: 10px; */
/*     z-index: 3; */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li .label span { */
/*     display: block; */
/*     width: 70px; */
/*     height: 30px; */
/*     line-height: 30px; */
/*     color: #fff; */
/*     font-size: 13px; */
/*     font-family: font_sw; */
/*     font-weight: bold; */
/*     margin-bottom: 3px; */
/*     background-color: #009223; */
/* } */
.menu_list_wrapper .pd_list_wrapper li .label span.new {
	background-color: #ffc300;
}

.menu_list_wrapper .pd_list_wrapper li .label span.event {
	background-color: #009223;
}

.menu_list_wrapper .pd_list_wrapper li .label span.season {
	background-color: #9631a8;
}

/* 시즌한정메뉴 */
.menu_list_wrapper .pd_list_wrapper li .label span.limited {
	background-color: #53e3b6;
}

/* 한정판매메뉴 */
.menu_list_wrapper .pd_list_wrapper li .label span.limited_g {
	background-color: #92d050;
}

/* 한정판매메뉴 와사비마요 */
.menu_list_wrapper .pd_list_wrapper li .img {
	width: 270px;
	height: 189px;
	margin: 20px auto 0;
	position: relative;
	z-index: 1;
}

.menu_list_wrapper .pd_list_wrapper li .img img {
	width: 100%;
	height: 100%
}

/* .menu_list_wrapper .pd_list_wrapper li .label span.party { */
/*     left: 0; */
/*     top: 10px; */
/*     color: #fff; */
/*     font-size: 13px; */
/*     background-color: #58006c; */
/*     font-weight: bold; */
/*     font-family: font_sw; */
/*     width: 70px; */
/*     text-align: center; */
/*     height: 30px; */
/*     line-height: 28px; */
/*     letter-spacing: 0.1em; */
/*     z-index: 3; */
/* } */
.menu_list_wrapper .pd_list_wrapper li .tit {
	color: #292929;
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 7px;
	display: block;
	position: relative;
	z-index: 5;
	top: 0
}

.menu_list_wrapper .pd_list_wrapper li .eng {
	color: #666666;
	font-size: 16px;
	font-family: font_sw;
	display: block;
	margin: 0 0 13px;
	letter-spacing: -0.06em;
	position: relative;
	z-index: 5;
	top: 0
}

.menu_list_wrapper .pd_list_wrapper li .cal {
	color: #ffc300;
	font-size: 18px;
	font-family: font_sw;
	font-weight: bold;
	display: block;
	letter-spacing: -0.05em;
	z-index: 1
}

/* .menu_list_wrapper .pd_list_wrapper li .summary { */
/*     position: absolute; */
/*     left: 20px; */
/*     right: 20px; */
/*     top: 171px; */
/*     opacity: 0; */
/*     z-index: 5; */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li .summary p { */
/*     color: #c5e698; */
/*     font-size: 16px; */
/*     letter-spacing: -0.05em; */
/*     line-height: 24px; */
/*     overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; // 2018.01.30 디자인 수정 */
/*     word-break: keep-all; */
/* } */
.menu_list_wrapper .pd_list_wrapper li .summary p.fs13 {
	font-size: 13px;
}

/* .menu_list_wrapper .pd_list_wrapper li .btn_view { */
/*     display: block; */
/*     position: absolute; */
/*     left: 0; */
/*     top: 0; */
/*     background: url(../images/menu/icon_view.png) 147px bottom no-repeat; */
/*     width: 100%; */
/*     height: 100%; */
/*     opacity: 0; */
/*     z-index: 5; */
/*     transform: scale(0.5) */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li .btn_view_sub { */
/*     display: block; */
/*     position: absolute; */
/*     left: 0; */
/*     top: 0; */
/*     background: url(../images/menu/icon_view.png) 147px bottom no-repeat; */
/*     width: 100%; */
/*     height: 100%; */
/*     opacity: 0; */
/*     z-index: 5; */
/*     transform: scale(0.5) */
/* } */
/* pd_list_wrapper 슬라이드  */
/* .menu_list_wrapper .pd_list_wrapper li:hover .tit { */
/*     color: #fff; */
/*     top: -159px; */
/*     transition-duration: 0.4s */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li:hover .eng { */
/*     color: #fff; */
/*     top: -150px; */
/*     transition-duration: 0.4s */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li:hover .summary { */
/*     opacity: 1; */
/*     top: 121px; */
/*     transition-duration: 0.4s; */
/*     transition-delay: 0.2s */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li:hover .btn_view { */
/*     opacity: 1; */
/*     transform: scale(1); */
/*     bottom: 6px; */
/*     transition-duration: 0.3s; */
/*     transition-delay: 0.3s */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li:hover .btn_view_sub { */
/*     opacity: 1; */
/*     transform: scale(1); */
/*     bottom: 6px; */
/*     transition-duration: 0.3s; */
/*     transition-delay: 0.3s */
/* } */

/* .menu_list_wrapper .pd_list_wrapper li:hover:after { */
/*     opacity: 1; */
/*     transition-duration: 0.2s; */
/* } */

/* 메뉴소개 ::: 상품별 정렬 tab */
.menu_list_wrapper .pd_tab {
	height: 140px;
	width: 1170px;
	margin: -40px auto 0;
	background: url(../images/menu/bg_tabbox.png) 0 0 no-repeat;
	position: relative;
	z-index: 3;
	text-align: center;
}

.menu_list_wrapper .pd_tab ul {
	overflow: hidden;
	display: inline-block;
}

.menu_list_wrapper .pd_tab li {
	float: left;
	position: relative;
}

.buttons {
	
}

.next_button {
	
}