body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.content1 {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu_list_wrapper {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
}

.pd_tab {
	text-align: center;
	margin-bottom: 20px;
}

.pd_tab span {
	font-size: 24px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

.pd_list_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pd_list_wrapper ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pd_list_wrapper li {
	width: 300px;
	background-color: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.pd_list_wrapper li .img {
	width: 100%;
	height: 150px;
	background-color: #eaeaea;
	border-radius: 10px;
	margin-bottom: 10px;
}

.pd_list_wrapper li .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.pd_list_wrapper li .tit {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.pd_list_wrapper li span {
	font-size: 16px;
	color: #666;
	margin-bottom: 5px;
	display: block;
}

.pd_list_wrapper li .cal {
	font-size: 14px;
	color: #ffc300;
	margin-bottom: 10px;
}

.kcal_button {
	padding: 10px 20px;
	background-color: rgb(31, 147, 98);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}

.kcal_input {
	width: 700px;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 25px;
	outline: none;
	transition: all 0.3s
}

.kcal_input:focus {
	border-color: rgb(31, 147, 98);
	box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.kcal_input::placeholder {
	color: #aaa;
}

.kcal_button:hover {
	background-color: #007a1a;
}

.buttons {
	text-align: center;
	margin-top: 20px;
}
.plus {
	padding: 5px 10px;
	background-color: rgb(31, 147, 98);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.plus:hover {
	background-color: #007a1a;
}

.minus {
	padding: 5px 10px;
	background-color: rgb(31, 147, 98);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.minus:hover {
	background-color: #007a1a;
}


.buttons input {
	padding: 10px 20px;
	background-color:rgb(31, 147, 98);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}
.buttons input:hover {
	background-color: #007a1a;
}