@charset "UTF-8";

.login-error {
	color: red;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.login-container {
	background-color: white;
	padding: 70px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px; /* 고정 너비 설정 */
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	width: 100%;
	padding: 12px;
	background-color: rgb(31, 147, 98);
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 15px;
	cursor: pointer;
	margin: 5px 0; /* 버튼 사이 간격 추가 */
}

.button-group {
	display: flex;
	/*justify-content: space-between; /* 버튼 간격 조정 */
}

.button-group button {
	width: 50%; /* 각 버튼 너비를 32%로 설정 */
	background-color: white;
	color: rgb(153, 153, 153);
	/* border: 1px solid #ccc; /* 테두리 추가 */
}

button:hover {
	background-color: #28a745;
}

.button-group button:hover {
	background-color: #f0f0f0; /* 버튼 호버 색상 */
}

.form-group label {
    display: block; /* 라벨을 블록 요소로 설정하여 전체 너비 차지 */
    margin-bottom: 5px; /* 라벨과 입력 필드 사이의 간격 */
    font-weight: bold; /* 라벨 글씨를 굵게 */
}

/* .form-group {
    margin-bottom: 15px; 각 입력 필드 사이의 간격
}


.form-group input {
    width: 100%; 입력 필드 너비를 100%로 설정
    padding: 8px; 입력 필드 내부 여백
    border: 1px solid #ccc; 입력 필드 테두리
    border-radius: 4px; 입력 필드 모서리 둥글게
} */
