@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.header {
	background-color: rgb(31, 147, 98);
	color: white;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	transition: height 0.8s;
}

.User_header {
	width: 300px;
	height: 25px;
	display: flex;
	justify-content: center;
	margin-left: 1500px;
	background-color: rgb(31, 147, 98);
}

.User_header_List {
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	width: 250px;
	line-height: 25px;
}

.User_header_List a {
	font-size: 14px;
	color: #000;
}

.User_header_List a:hover {
	text-decoration: underline;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.header .logo img {
	width: 100px;
	height: auto;
}

.header nav a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.mainMenu_List {
	display: flex;
}

.mainMenu {
	width: 100%;
	display: flex;
}

.mainMenu>li {
	text-align: center;
	width: 250px;
}

.mainMenu>li>a {
		line-height: 80px;
	cursor: pointer;
	font-size: 26px;
	color: #000;
	font-weight: 700;
}

.header :hover .subMenu {
	height: 200px;
	z-index: 10000;
	display: block;
}

.subMenu {
	display: none;
	z-index: 10;
	position: relative;
	width: 100%;
	padding-top: 20px;
}

.subMenu li {
	z-index: 3;
	white-space: nowrap;
	width: 250px;
}

.subMenu li a {
	line-height: 65px;
	z-index: 11;
	text-align: center;
	cursor: pointer;
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}