.container {
    display: flex;
/*     flex-direction: column; 아이템을 세로로 배치 */
    align-items: center; /* 아이템을 가운데 정렬 */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px; /* 패딩 줄이기 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* 컨테이너 너비 줄이기 */
    margin: 10px auto; /* 컨테이너를 가운데 정렬 */
}

.image-container {
    flex: 1;
    margin-right: 0; /* 오른쪽 여백 제거 */
    padding: 0px
/*     margin-bottom: 10px; 아래쪽 여백 추가 */
}

.image-container img {
    width: 100%; /* 이미지 크기 줄이기 */
    border-radius: 10px;
}

.content {
    flex: 2;
    text-align: center; /* 텍스트 가운데 정렬 */
}

.content h2 {
    margin: 0;
}

.content p {
    margin: 5px 0;
}

.button-container {
    margin-top: 10px; /* 위쪽 여백 줄이기 */
}

.button-container button {
    padding: 5px 10px; /* 패딩 줄이기 */
    margin-right: 5px; /* 여백 줄이기 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container .same-menu {
    background-color: #4CAF50;
}

.button-container .order-details {
    background-color: #008CBA;
}
